.cardsContainer{
  padding: 6rem 3rem;
}

.cardContainer{
  display: grid;
  max-width: 140rem;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  column-gap: 3.6rem;
  row-gap: 3.6rem;
  margin-bottom: 3.6rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  height: 175rem;
}

.sectionTitle{
  font-size: 3.8rem;
  font-weight: 500;
  line-height:1.21em;
 align-self: center;
  
}

.sectionWrapper{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.principalContainer{
display: flex;
flex-direction: column;
}